<!-- classroom.component.html -->
<div class="container mt-4">
  <img
    src="../../../../../assets/images/finance.jpg"
    alt="Classroom Image"
    class="img-fluid image"
  />

  <div class="d-flex justify-content-between align-items-center mt-3">
    <h3 class="text-primary">{{(classroom$ | async)?.name}}</h3>
    <!-- Add the dropdown here -->
  </div>

  <div class="font-weight-light font-size-18 mt-2">{{(classroom$ | async)?.description}}</div>

  <hr class="my-4" />
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Courses</button>
      <ng-template ngbNavContent>
        <form *ngIf="courses$ | async as courses; else loadingCourses" [formGroup]="searchForm" class="form-group" style="width: 50%">
          <div class="input-group">
            <input class="form-control" id="search" formControlName="searchTerm" placeholder="Search a course.." />
          </div>
        </form>
        <ng-template #loadingCourses></ng-template>

        <app-course-list [classroomId]="(classroom$ | async)?.id" [courses] ="(courses$ | async) || []"></app-course-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Tasks</button>
      <ng-template ngbNavContent>
        <div class="d-flex">
         <button [className]="taskFilter === undefined ? 'btn btn-primary btn-rounded m-3' : 'btn btn-secondary btn-rounded m-3'" (click)="onTaskFilterChange(undefined)">All</button>
        <button  [className]="taskFilter === 'inProgress' ?  'btn btn-primary btn-rounded m-3' : 'btn btn-secondary btn-rounded m-3'" (click)="onTaskFilterChange('inProgress')">In Progress</button>
        <button  [className]="taskFilter === 'completed' ?  'btn btn-primary btn-rounded m-3' : 'btn btn-secondary btn-rounded m-3'"  (click)="onTaskFilterChange('completed')">Completed</button>
        </div>
        <app-task-list [tasks]="(tasks$ | async) || []"></app-task-list>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Assignments</button>
      <ng-template ngbNavContent>
        <p>
          <app-assignment-list [assignments]="(assignments$ | async)  || []"></app-assignment-list>
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>Students</button>
      <ng-template ngbNavContent>
        <app-students [users]="(students$ | async)!"></app-students>
        <button class="btn btn-primary" *ngIf="(this.authService.isTeacher$ | async)" (click)="onAddStudentClick()">Add Student</button>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
