.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Set your desired width */
  height: 60px; /* Set your desired height */
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff; /* Set text color */
  margin-right: 20px;
}
