<div
  style="
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  "
>
  <div
    style="
      width: 40%;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
    "
  >
    <div style="display: flex; align-items: center; margin-bottom: 80px">
      <img
        src="../../../assets/images/logo.png"
        alt="Logo"
        style="width: 60px; margin-right: 20px"
      />
      <h1>LearnRoom</h1>
    </div>

    <form
      class="sign-form"
      (ngSubmit)="onSubmit(signupForm)"
      #signupForm="ngForm"
    >
      <div>
        <label class="label" for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="formData.name"
          class="form-control"
          #nameInput="ngModel"
          required
          [ngClass]="{
            invalid: nameInput.invalid && (nameInput.dirty || nameInput.touched)
          }"
        />
      </div>
      <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="nameInput.errors?.['required']"
        >
          Name is required.
        </div>
      </div>
      <div>
        <label class="label" for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="formData.email"
          class="form-control"
          #emailInput="ngModel"
          required
          [ngClass]="{
            invalid:
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
          }"
          email
        />
      </div>
      <div
        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
      >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="emailInput.errors?.['required']"
        >
          Email is required.
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="emailInput.errors?.['email']"
        >
          Invalid email format.
        </div>
      </div>

      <div>
        <label class="label" for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="formData.password"
          class="form-control"
          #passwordInput="ngModel"
          [ngClass]="{
            invalid:
              passwordInput.invalid &&
              (passwordInput.dirty || passwordInput.touched)
          }"
          minlength="6"
          required
        />
      </div>
      <div
        *ngIf="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
        "
      >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="passwordInput.errors?.['required']"
        >
          Password is required.
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="passwordInput.errors?.['password']"
        >
          Invalid Password format.
        </div>
      </div>
      <div>
        <label class="label">User Type :</label>
        <div class="radio-button-container">
          <label>
            <input
              style="font-weight: 300"
              type="radio"
              name="role"
              value="false"
              [(ngModel)]="formData.user"
              required
            />
            Student
          </label>
          <label style="margin-left: 20px">
            <input
              style="font-weight: 400"
              type="radio"
              name="role"
              value="true"
              [(ngModel)]="formData.user"
              required
            />
            Teacher
          </label>
        </div>
      </div>

      <button
        class="coral-button button"
        style="width: 100px; align-self: center"
        type="submit"
      >
        Signup
      </button>
    </form>

    <div
      *ngIf="signupForm.submitted && signupForm.invalid"
      class="alert alert-danger"
      role="alert"
    >
      Please fill in all required fields correctly.
    </div>

    <p>
      Already have an account?
      <a class="sign-link" routerLink="/auth/login" routerLinkActive="active"
        >Sign in</a
      >
    </p>
  </div>

  <div style="height: 80%; width: 60%">
    <img
      src="../../../assets/images/signin.png"
      alt="landing image"
      style="height: 100%; width: 100%"
    />
  </div>
</div>
<footer></footer>
