/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/scss/bootstrap";

.button {
  margin-right: 15px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  color: grey;
}
.green-button {
  color: #fff;
  background-color: #12b7bd;
  border: none;
}

.coral-button {
  color: #fff;
  background-color: #ff796e;
  border: none;
}
form,.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

